<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:name="csrf-token" th:content="${_csrf.token}">
    <title>Login Page</title>
</head>
<body>
    <div style="width: 300px; margin: 50px auto; padding: 20px; border: 1px solid #ccc; border-radius: 8px;">
    <h4>Student Management System</h4>
        <h2>Login</h2>
        <form th:action="@{/auth/login}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="text" name="username" placeholder="Username" minlength="6" maxlength="30"
                   pattern="^[^\s]*$" title="Username cannot contain spaces" aria-label="Username" required>
            <input type="password" name="password" placeholder="Password" minlength="6" maxlength="20"
                   pattern="^[^\s]*$" title="Password cannot contain spaces" aria-label="Password" required>
            <button type="submit" aria-label="Login">Login</button>
        </form>
        <!-- Display Error Message -->
        <div th:if="${errorMessage}" style="color: red; font-weight: bold; margin-top: 10px;">
            <p th:text="${errorMessage}"></p>
        </div>
    </div>
</body>
</html>
