<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:name="csrf-token" th:content="${_csrf.token}">
    <title>Teacher List</title>
	<script>
	        function deleteTeacher(id,event) {
				var csrfToken = document. querySelector('meta[name="csrf-token"]').content;
				event.preventDefault(); 
	            if (confirm("Are you sure you want to delete this teacher record?")) {
	                fetch(`/teachers/delete/${id}`, {
	                    method: 'DELETE',
						headers: {
								'X-XSRF-TOKEN': csrfToken  // Add the CSRF token to the header
						},
						credentials: "include" 
	                })
	                .then(response => {
	                    if (response.ok) {
	                        alert('Teacher record deleted successfully!');
	                        location.reload();
	                    } else {
	                        alert('Failed to delete teacher record!');
	                    }
	                });
	            }
	        }

	</script>
</head>
<body>
	<form method="post" action="/logout">
	    <button type="submit">Logout</button>
	</form>
	<br>
<h1>Teacher List</h1>
<p><label th:text="${welcomeMsg}"></label></p>
<a href="/teachers/add" sec:authorize="hasRole('admin')">Add New Teacher</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Subject</th>
    </tr>
    <tr th:each="teacher : ${teachers}">
        <td th:text="${teacher.id}"></td>
        <td th:text="${teacher.name}"></td>
        <td th:text="${teacher.subject}"></td>
        <td sec:authorize="hasRole('admin')">
            <a th:href="@{/teachers/edit/{id}(id=${teacher.id})}" sec:authorize="hasRole('admin')">Edit</a>
			<a href="#" th:onclick="|deleteTeacher(${teacher.id}, event)|" sec:authorize="hasRole('admin')">Delete</a>
        </td>
    </tr>
</table>
<br>
<a href="/dashboard">Back to Dashboard</a>
</body>
</html>
