<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:name="csrf-token" th:content="${_csrf.token}">
    <title>Two-Factor Authentication</title>
</head>
<body>
   	<p style="margin: 0; font-size: 16px; color: #333; font-weight: bold;"><label th:text="${welcomeMsg}"></label></p>
    <form th:action="@{/auth/verify}" method="post" style="max-width: 400px; margin: auto; font-family: Arial, sans-serif;">
		<h2 style="margin: 0; color: #007BFF; font-size: 16px;">Please enter two factor verification code:</h2>
		<div style="display: flex; flex-direction: column; gap: 15px;">
        <input type="text" name="code" placeholder="Enter code" required minlength="6" maxlength="6" 
				              pattern="^[^\s]*$" title="code cannot contain spaces" >
        <button type="submit" style="background-color: #007BFF; color: white; padding: 10px; border: none; border-radius: 4px; cursor: pointer;">Verify</button>
        </div>
    </form>
	<p th:if="${error}" th:text="${error}"></p>
</body>
</html>
